*************************************************************
*                                                           *
* DRILL TAPE SUMMARY REPORT                                 *
*                                                           *
* E:\00.LAVORI IN CORSO\METALTRONICA\25-336-0\25-336-0.MAX  *
* Sun Feb 22 23:01:32 2026                                  *
*                                                           *
*************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       464      200      100                                                                                 
T2       315      4        200      100                                                                                 
T3       394      21       200      100                                                                                 
T4       433      16       200      100                                                                                 
T5       472      23       200      100                                                                                 
T6       551      2        200      100                                                                                 
T7       630      5        200      100                                                                                 
T8       1063     2        200      100                                                                                 
T9       1378     4        200      100                                                                                 
